.blockade-options {
	position: relative;
	margin: -20px;
	border-bottom: 1px solid #ccc;
	height: 408px;
	overflow: auto;
	max-height: 80vh;
	padding: 5px;
}
.blockade-options * {
	white-space: normal;
}
.blockade-options strong {
	font-weight: bold;
}
ul.blockade-options-tab-headers {
	border-bottom: 1px solid #ccc;
	padding: 5px 5px 0;
	text-align: right;
	background-color: #fcfcfc;
	margin: -5px -5px 5px -5px;
}
ul.blockade-options-tab-headers li.blockade-options-tab {
	display: inline-block;
	padding: 2px 10px;
	border: 1px solid #ccc;
	border-radius: 5px 5px 0 0;
	background-color: #eee;
	vertical-align: bottom;
	margin-bottom: -1px;
	cursor: pointer;
	/* kill select */
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
ul.blockade-options-tab-headers li.blockade-options-tab:hover {
	background-color: #f9f9f9;
}
ul.blockade-options-tab-headers li.blockade-options-tab.active {
	background-color: #fff;
	border-bottom: 1px solid #fff;
	padding: 8px 10px 2px;
}
ul.blockade-options-tab-contents li.blockade-options-tab {
	display: none;
}
ul.blockade-options-tab-contents li.blockade-options-tab.active {
	display: block;
}
.blockade-options label {
	display: block;
	padding: 5px 0;
}
.blockade-options label span {
	display: inline-block;
	padding: 5px 0 0;
	vertical-align: top;
	width: 110px;
}
.blockade-options input.mce-textbox {
	width: auto;
}
.blockade-options textarea {
	display: block;
	height: 150px;
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 10px;
}
.blockade-options h3 {
	text-align: center;
}
.blockade-options hr {
	display: block;
	width: 100%;
	margin: 10px auto;
	border-bottom: 1px solid #ccc;
}

.blockade-options-accordion {
	margin: 5px 0;
	border: 1px solid #ccc;
}
/* so that colorpickers will properly overlap accordions */
.blockade-options-accordion:nth-of-type(1 ) { z-index: 100; }
.blockade-options-accordion:nth-of-type(2 ) { z-index:  99; }
.blockade-options-accordion:nth-of-type(3 ) { z-index:  98; }
.blockade-options-accordion:nth-of-type(4 ) { z-index:  97; }
.blockade-options-accordion:nth-of-type(5 ) { z-index:  96; }
.blockade-options-accordion:nth-of-type(6 ) { z-index:  95; }
.blockade-options-accordion:nth-of-type(7 ) { z-index:  94; }
.blockade-options-accordion:nth-of-type(8 ) { z-index:  93; }
.blockade-options-accordion:nth-of-type(9 ) { z-index:  92; }
.blockade-options-accordion:nth-of-type(10) { z-index:  91; }
.blockade-options-accordion > a.blockade-options-accordion-header {
	position: relative;
	display: block;
	background-color: #fefefe;
	border-bottom: 1px solid #ccc;
	color: #666;
	padding: 5px;
}
.blockade-options-accordion > a.blockade-options-accordion-header:after {
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
	content: '\f140';
	font-family: dashicons;
}
.blockade-options-accordion.blockade-options-accordion-open > a.blockade-options-accordion-header:after {
	content: '\f142';
}
.blockade-options-accordion > .blockade-options-accordion-body {
	display: none;
	padding: 5px;
}
.blockade-options-accordion.blockade-options-accordion-open > .blockade-options-accordion-body {
	display: block;
}
.blockade-options-accordion.blockade-options-accordion-open > .blockade-options-accordion-body:after {
	content: '';
	display: block;
	clear: both;
}
.blockade-options-one-half,
.blockade-options-one-third {
	padding: 10px;
	box-sizing: border-box;
}
.blockade-options-one-half {
	width: 50%;
	float: left;
}
.blockade-options-one-third {
	width: 33.33333%;
	float: left;
}
.blockade-options-box-wrapper {
	position: relative;
	text-align: center;
}
.blockade-options-box-wrapper .blockade-options-box {
	position: relative;
	border: 1px solid #ccc;
	width: 90px;
	height: 90px;
	margin: 20px auto;
}
.blockade-options-box-wrapper .blockade-options-box input {
	box-sizing: border-box;
	position: absolute;
	width: 40px;
	text-align: center;
}
.blockade-options-box-wrapper .blockade-options-box input[type=number]::-webkit-inner-spin-button,
.blockade-options-box-wrapper .blockade-options-box input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
}
.blockade-options-box-wrapper .blockade-options-box input.blockade-options-box-top {
	top: -14px;
	left: 25px;
}
.blockade-options-box-wrapper .blockade-options-box input.blockade-options-box-right {
	top:  30px;
	right: -20px;
}
.blockade-options-box-wrapper .blockade-options-box input.blockade-options-box-bottom {
	bottom: -14px;
	left: 25px;
}
.blockade-options-box-wrapper .blockade-options-box input.blockade-options-box-left {
	top: 30px;
	left: -20px;
}

.blockade-options-image-wrapper,
.blockade-options-image-wrapper button {
	text-align: center;
}
.blockade-options-image-wrapper .blockade-options-image-inner-wrapper {
	position: relative;
}
.blockade-options-image-wrapper .blockade-options-image-inner-wrapper .blockade-options-image-remove {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	display: none;
	font-family: dashicons;
	font-size: 2em;
	color: #bbb;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.blockade-options-image-wrapper .blockade-options-image-inner-wrapper .blockade-options-image-remove:hover {
	color: #aaa;
}
.blockade-options-image-wrapper .blockade-options-image-inner-wrapper .blockade-options-image-remove.blockade-options-image-remove-visible {
	display: block;
}

.blockade-options-image-wrapper .blockade-options-image-inner-wrapper .blockade-options-image-preview {
	height: 150px;
	border: 1px solid #ddd;
}
.blockade-options-image-wrapper .blockade-options-image-inner-wrapper .blockade-options-image-preview img {
	display: block;
	margin: 0 auto;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.blockade-options-color-picker-input-container {
	position: relative;
	display: inline-block;
}
.blockade-options-color-picker-input-container .blockade-options-color-picker-wrapper {
	position: absolute;
	right: 0;
	top: 100%;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	box-shadow: 0 3px 5px rgba(0,0,0,.2);
	z-index: 101;
	display: none;
}

.blockade-options-color-picker-input-container.blockade-options-color-picker-open .blockade-options-color-picker-wrapper {
	display: block;
}
.blockade-options-color-picker-input-container .blockade-options-color-picker-wrapper .mce-btn {
	border: 0;
	background: transparent;
	filter: none;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	line-height: normal;
	height: auto;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.blockade-options-color-picker-input-container .blockade-options-color-picker-wrapper .mce-btn:hover {
	border: 0;
	background: #e6e6e6;
	filter: none;
}
.blockade-options-color-picker input.mce-textbox {
	width: 100px;
	padding-right: 30px;
	box-sizing: border-box;
}
.blockade-options-color-picker .blockade-options-color-picker-preview {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-left: -24px;
	margin-top: 3px;
	padding: 0;
	border: 1px solid #ccc;
}
